<!-- add.html -->
{% extends "base.html" %}

{% block content %}
  <h1 class="panel-heading">Your event:</h1>
  <div class="panel-body">
    <div class="new-event-title">
      {% if data.title is defined %}
        <h2> {{data.title}} </h2>
      {% endif %}
    </div>
    <div class="new-event-time">
      {% if data.start_time is defined %}
        <p> {{ data.start_time.strftime('%d %b %Y %-I:%M%p') }} --
      {% endif %}
      {% if data.end_time is defined %}
        {{ data.end_time.strftime('%-I:%M%p') }} </p>
      {% endif %}
    </div>
    <div class="new-event-description">
      {% if data.description is defined %}
        <p> {{data.description}} </p>
      {% endif %}
    </div>

    <form action="/tag" method="get">
      <div class="additional-data">
        <h2> Category </h2>
        <div class="categories btn-group" data-toggle="buttons">
          {% for cat in categories %}
            <label class="btn btn-default">
              <input type="radio" name="category" autocomplete="off" value="{{cat}}">{{ cat }}
            </label>
          {% endfor %}
        </div> <!-- /categories -->
        <div class="tags-select">
          <h2> Tags </h2>
          <select name="tag"  multiple="multiple" class="js-example-basic-multiple" style="width: 75%"> <!--Supplement an id here instead of using 'name'-->
            {% for tag in tags %}
              <option value="{{ tag.title }}">{{ tag.title }}</option>
            {% endfor %}
          </select>
        </div> <!-- /tags-select-->
      </div> <!-- additional-data -->

      <div class="new-event-external-url">
        {% if data.url is defined %}
          <h2> external url:</h2> <a href="{{data.url}}">{{data.url}}</a>
        {% endif %}
      </div> <!--/new-event-external-url -->

      <input type="submit" class="btn"/>
    </form>
  </div> <!-- /panel-body -->
<!-- TODO: you need to handle location-ids somehow... -->
{% endblock content %}
