<!-- base.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="content-container">
    <div class="extracted-content panel panel-default">
      <h1 class="panel-heading">Your event:</h1>
      <div class="panel-body">
        <div class="new-event-title">
          {% if data.title is defined %}
            <h2> {{data.title}} </h2>
          {% endif %}
        </div>
        <div>
          {% if data.start_time is defined %}
            <p> {{ data.start_time.strftime('%d %b %Y %-I:%M%p') }} --
          {% endif %}
          {% if data.end_time is defined %}
            {{ data.end_time.strftime('%-I:%M%p') }} </p>
          {% endif %}
        </div>
        <div class="new-event-description">
          {% if data.description is defined %}
            <p> {{data.description}} </p>
          {% endif %}
        </div>
        <div class="new-event-external-url">
          {% if data.url is defined %}
            <p> external url: <a href="{{data.url}}">{{data.url}}</a> </p>
          {% endif %}
        </div>
      <form action="/tag" method="get">
        <div class="btn-group" data-toggle="buttons">
          {% for cat in categories %}
          <label class="btn btn-default">
            <input type="radio" name="category" autocomplete="off" value="{{cat}}">{{ cat }}
          </label>
          {% endfor %}
        </div>
        <div class="tag-filter">
          <select name="select"  multiple="multiple" class="js-example-basic-multiple"> <!--Supplement an id here instead of using 'name'-->
            {% for tag in tags %}
            <option value="{{ tag.title }}">{{ tag.title }}</option>
            {% endfor %}
          </select>
        </div>

        <input type="submit" />
      </form>
  </div> <!-- /panel-body -->
<!-- TODO: you need to handle location-ids somehow... -->
</div> <!-- /extracted-content -->

  </div> <!-- /content-container -->
</div> <!-- /container -->
{% endblock content %}
